<div class="row justify-content-evenly">
    <div class="col-lg-6 col-sm-12">
      <h2>Create a new post</h2>
      <form class="new-post-form">
        <label for="post-title" class="form-label">Title</label>
        <input type="text" id="post-title" name="post-title" class="form-control"/>

        <label for="post-body" class="form-label">Content</label>
        <textarea id="post-body" name="post-body" class="form-control"/ rows="4"></textarea>

        <button type="submit" class="btn btn-success" id="new-post-submit">Create</button>
      </form>
    </div>
</div>
{{#if posts.length}}
  <div class="row justify-content-evenly">
    <div class="col-lg-6 col-sm-12">
    <h2>Your Posts</h2>
    </div>
    </div>
    {{#each posts as |post|}}
      {{> post-info-dashboard post}}
    {{/each}}
{{/if}}

<script src="/javascript/add-post.js"></script>