<div class="row justify-content-evenly">
    <div class="col-lg-6 col-sm-12">
        <h2>Log In</h2>
        <form class="login-form"> 
            <label for="email-login" class="form-label">Email:</label>
            <input type="text" class="form-control" id="email-login"/>
        
            <label for="password-login" class="form-label">Password:</label>
            <input type="text" id="password-login" class="form-control"/>
        
            <button type="submit" class="btn btn-primary login-btn">Log In</button>
        </form>
    </div>
</div>


<script src="/javascript/login.js"></script>