{{!-- populating the post content using post info partial --}}

{{> post-info-single post}}

{{!-- populating comments with comments partial --}}
{{> comments post.comments}}

{{#if loggedIn}}
<div class="row justify-content-evenly">
    <div class="col-lg-6 col-sm-12 comment-row">
    
        <form class="comment-form">
            <label for="comment-body" class="form-label">Add a comment</label>
            <textarea name="comment-body" class="form-control"></textarea>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    
    </div>
</div>


{{/if}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}
